# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from g_config import gcode
from w_config import wcode

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
path = '..\WeatherPy\Weather_cities.csv'
df_cities = pd.read_csv(path)
df_cities.head()

,City,Latitude,Longitude,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
0,barrow,71.2906,-156.7887,-22.00,77,90,6.17,US,1613256569
1,ushuaia,-54.8000,-68.3000,7.00,81,75,0.89,AR,1613256576
2,nikolskoye,59.7035,30.7861,-8.00,93,75,2.00,RU,1613256610
3,mataura,-46.1927,168.8643,19.44,64,100,3.13,NZ,1613256572
4,omsukchan,62.5333,155.8000,-31.57,83,84,1.95,RU,1613256625

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure